body {
    background-color:black;
    text-align: center;
    padding-top: 100px;
}

h1 {
    color: white;
    font-size: 50px;
}


p {
    font-size: 35px;
    color: lightskyblue;
}

a {
    font-size: 30px;
    color: darkturquoise;
}